.pagination {
  position: fixed; // Fix pagination controls in the viewport
  top: 60px; // Adjust this value based on the actual height of your navbar
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0; // Optional: background color to make it stand out from the content
  padding: 10px 0; // Add some padding inside the pagination bar
  z-index: 999; // Ensure it's below the navbar if they overlap
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Optional: adds a subtle shadow for depth

  .arrow-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin: 0 10px;
    padding: 5px;
    color: #555;
    transition: color 0.3s ease;

    &:hover {
      color: #000;
    }

    &:disabled {
      cursor: not-allowed;
      color: #ccc;
    }
  }

  .page-info {
    font-size: 16px;
    margin: 0 10px;
  }
}
